.map-container {
    width: 600px;
    height: 400px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns {
    margin: 20px 0;
}

.btns button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}